.model-builder{
    margin:60px 0px;
    width:80%;
    margin-left:10%;
    justify-align:space-between;
    
}
.nav-link{
    color:white
}
.nav-tabs {
    border-bottom: 2px solid #17a2b8;
    
  }

  
  
  .nav-tabs .nav-link {
    background: rgb(250,239,255);
    background: linear-gradient(270deg, rgba(250,239,255,1) 0%, rgba(198,198,198,1) 100%);
    color: #333; 
  }
  
  .nav-tabs .nav-link.active {
    font-weight:bold;
    background: rgb(183,0,255);
    background: linear-gradient(270deg, rgba(183,0,255,1) 0%, rgba(109,4,255,1) 100%);
    color: #fff !important; 
  }
  
  .tab-content {
    border: 1px solid #deeee6;
    border-radius: 0 0 5px 5px; 
    padding: 20px 20px;
    background: rgba( 255, 255, 255, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.045 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  .tab-content h2 {
    color: #343a40;
  }
  
  .tab-content p {
    color: #495057;
  }
.background-overlay-style{
  background:url('../src/assets/bg-st.jpg');
  width:100%;
  
  background-size:cover
}
 