/* Service.css */

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-btn {
    color: #343a40;
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
    margin: 0 2px;
    cursor: pointer;
  }
  
  .pagination-btn.active,
  .pagination-btn:hover {
    z-index: 3;
    color: #fff;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
  }

  .page-item ,.active .page-item{
    background:none;
  }

  .active>.page-link{
    background:none;
    border:0;
  }